/*:root {*/
/*  !*--border-width: 1px;*!*/
/*  !*--border-color: #fff;*!*/
/*  !*--baseof-header-height: 64px;*!*/
/*  !*--baseof-header-background: #fff;*!*/
/*  !*--baseof-nav-width: 336px;*!*/
/*  !*--baseof-nav-background: #fff;*!*/
/*  !*--baseof-main-background: #fff;*!*/
/*  !*--baseof-footer-height: 200px;*!*/
/*  !*--baseof-footer-background: #fff;*!*/
/*  */
/*  --border-radius: 6px;*/
/*  --background--hover: #e9e9e9;*/
/*  --btn-fill: #fff;*/
/*  --list-item-fill: #000;*/
/*  --bg-current: #fff;*/
/*  */
/*  !*--drop-list-background: #fff;*!*/

/*  !*--single-layout-max-width: 1128px;*!*/
/*  !*--single-aside-width: 240px;*!*/
/*}*/



/*.light-theme {*/
/*  --border-color: #d5d8db;*/
/*  --text-color: #000;*/
/*  --background--hover: #e9e9e9;*/
/*  --baseof-header-background: #f7f7f7;*/
/*  --baseof-nav-background: #fff;*/
/*  --baseof-main-background: #fff;*/
/*  --baseof-footer-background: #f7f7f7;*/
/*  --btn-fill: #656d76ff;*/
/*  --list-item-fill: #656d76ff;*/
/*  --drop-list-background: #fff;*/
/*  --bg-current: #e9e9e9;*/
/*}*/

/*.dark-theme {*/
/*  --border-color: #848484;*/
/*  --text-color: #fff;*/
/*  --background--hover: #848484;*/
/*  --baseof-header-background: #313131;*/
/*  --baseof-nav-background: #1b1b1b;*/
/*  --baseof-main-background: #1b1b1b;*/
/*  --baseof-footer-background: #313131;*/
/*  --btn-fill: #848484;*/
/*  --list-item-fill: #848484;*/
/*  --drop-list-background: #1b1b1b;*/
/*  --bg-current: #848484;*/
/*}*/



/* ==================================================================================================== */


:root {
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

:root {
  --font-size: 16px;
  --body-font-size: .875rem;
  --body-line-height: 1.25rem;
  --baseof-header-height: 4rem;
  --baseof-footer-height: 4rem;
  --baseof-nav-width: 21rem;
  --single-layout-max-width: 70.5rem;
  --single-aside-width: 15rem;
  --border-width: .0625rem;
  --border-radius: .375rem;
}

:root {
  --color-scheme: light;
  --color-scheme-dark: dark;
  --baseof-header-background-color: #f3f0f0;
  --baseof-header-background-color-dark: #575454;
  --baseof-footer-background-color: #f3f0f0;
  --baseof-footer-background-color-dark: #575454;
  --baseof-nav-background-color: #f3f0f0;
  --baseof-nav-background-color-dark: #575454;
  --baseof-main-background-color: #f3f0f0;
  --baseof-main-background-color-dark: #575454;
  --border-color: #f3f0f0;
  --border-color-dark: #575454;
  --fill: #f3f0f0;
  --fill-dark: #575454;
  --hover-background-color: #f3f0f0;
  --hover-background-color-dark: #575454;
  --current-background-color: #f3f0f0;
  --current-background-color-dark: #575454;
}

@media (prefers-color-scheme: dark) {
  :root:not(.light):not(.dark) {
    --color-scheme: var(--color-scheme-dark);
    --baseof-header-background-color: var(--baseof-header-background-color-dark);
    --baseof-footer-background-color: var(--baseof-footer-background-color-dark);
    --baseof-nav-background-color: var(--baseof-nav-background-color-dark);
    --baseof-main-background-color: var(--baseof-main-background-color-dark);
    --border-color: var(--border-color-dark);
    --fill: var(--fill-dark);
    --hover-background-color: var(--hover-background-color-dark);
    --current-background-color: var(--current-background-color-dark);
  }
}

.dark {
  --color-scheme: var(--color-scheme-dark);
  --baseof-header-background-color: var(--baseof-header-background-color-dark);
  --baseof-footer-background-color: var(--baseof-footer-background-color-dark);
  --baseof-nav-background-color: var(--baseof-nav-background-color-dark);
  --baseof-main-background-color: var(--baseof-main-background-color-dark);
  --border-color: var(--border-color-dark);
  --fill: var(--fill-dark);
  --hover-background-color: var(--hover-background-color-dark);
  --current-background-color: var(--current-background-color-dark);
}

:root {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color-scheme: var(--color-scheme);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
}

.baseof-layout {
  display: grid;
  grid-template: var(--baseof-header-height) 1fr / var(--baseof-nav-width) 1fr;
  min-height: 100vh;
  overflow-y: hidden;
}

.baseof-header {
  grid-area: 1 / 1 / 2 / -1;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: inset 0 calc(var(--border-width) * -1) var(--border-color);
  background-color: var(--baseof-header-background-color);
}

.baseof-nav {
  grid-area: 2 / 1 / -1 / 2;
  position: sticky;
  top: var(--baseof-header-height);
  height: calc(100vh - var(--baseof-header-height));
  overflow-y: auto;
  scrollbar-gutter: stable;
  border-right: var(--border-width) solid var(--border-color);
  background-color: var(--baseof-nav-background-color);
}

.baseof-wrapper {
  grid-area: 2 / 2 / -1 / -1;
  display: grid;
  grid-template-rows: 1fr var(--baseof-footer-height);
  height: calc(100vh - var(--baseof-header-height));
  overflow-y: auto;
}

.baseof-main {
  grid-area: 1 / 1 / 2 / -1;
  background-color: var(--baseof-main-background-color);
}

.baseof-footer {
  grid-area: 2 / 1 / -1 / -1;
  border-top: var(--border-width) solid var(--border-color);
  background-color: var(--baseof-footer-background-color);
}

.header-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
}

.header-general {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: .5rem;
  justify-content: start;
}

.header-actions {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: .5rem;
  justify-content: end;
}

.nav-layout {
  display: grid;
  padding: 1rem;
}

.single-layout {
  display: grid;
  grid-template-columns: 1fr var(--single-aside-width);
  grid-column-gap: 2.5rem;
  max-width: var(--single-layout-max-width);
  padding: 1rem;
  margin: 0 auto;
}

.single-article {
  padding: 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.single-aside {
  position: sticky;
  top: 1rem;
  max-height: calc(100vh - var(--baseof-header-height) - 2rem);
  overflow-y: auto;
}

.footer-layout {
  display: grid;
  padding: 1rem;
}



/* @MEDIA
  ..-general -> ..-main
  navigation -> nav-main
*/

/* ==================================================================================================== */
/*
  font: inherit;
*/
/* ==================================================================================================== */

:root {
  --baseof-footer-height: 120px;
  --fill: #656d76ff;
  --hover-background-color: #e9e9e9;
  --current-background-color: #e9e9e9;
}




.logo {
  display: grid;
  /*color: var(--text-color);*/
  text-decoration: none;
  place-content: center;
}

.title {
  display: grid;
  border-radius: var(--border-radius);
  /*color: var(--text-color);*/
  text-decoration: none;
  place-content: center;
}

.title strong {
  font-weight: 600;
}

.icon {
  width: 16px;
  height: 16px;
}

.btn {
  display: grid;
  grid-auto-flow: column;
  padding: 0;
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  margin: 0;
  font: inherit;
  /*color: var(--text-color);*/
  place-content: center;
  place-items: center;
  fill: var(--fill);
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.drop-list {
  position: absolute;
  padding: 0;
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  margin: 0;
  list-style-type: none;
  /*background: var(--drop-list-background);*/
  z-index: 1;
}

.list-item {
  display: grid;
  grid-auto-flow: column;
  padding: 0;
  border: none;
  border-radius: var(--border-radius);
  margin: 0;
  font: inherit;
  /*color: var(--text-color);*/
  text-decoration: none;
  justify-content: start;
  align-content: center;
  justify-items: start;
  align-items: center;
  fill: var(--fill);
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.language-switcher {
  position: relative;
}







/* ============================================ */

h2, h3 {
  padding-top: 16px;
}


/* ================= */


#TableOfContents ul {
  /*padding: 0 0 0 16px;*/
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#TableOfContents > ul {
  border-left: var(--border-width) solid var(--border-color);
}

#TableOfContents a {
  display: grid;
  grid-auto-flow: column;
  /*display: inline-block;*/

  padding: 8px;
  border-radius: var(--border-radius);
  margin: 0;

  /*font: inherit;*/
  /*color: var(--text-color);*/
  text-decoration: none;
  /*justify-content: start;*/
  /*align-content: center;*/
  /*justify-items: start;*/
  /*align-items: center;*/
  /*fill: var(--list-item-fill);*/
  /*background: rgba(0, 0, 0, 0);*/
  /*cursor: pointer;*/



  /*padding: 8px 0;*/
}


/* ================= */

/*#TableOfContents li a {*/
/*  display: grid;*/
/*  grid-auto-flow: column;*/
/*  padding: 8px;*/
/*  border: none;*/
/*  border-radius: var(--border-radius);*/
/*  margin: 0;*/
/*  font: inherit;*/
/*  color: var(--text-color);*/
/*  text-decoration: none;*/
/*  justify-content: start;*/
/*  align-content: center;*/
/*  justify-items: start;*/
/*  align-items: center;*/
/*  fill: var(--list-item-fill);*/
/*  background: rgba(0, 0, 0, 0);*/
/*  cursor: pointer;*/

/*  !*padding-top: 8px;*!*/
/*  !*padding-bottom: 8px;*!*/
/*}*/

/*#TableOfContents li a {*/
/*  padding-left: 40px;*/
/*}*/

/*#TableOfContents > ul > li > a {*/
/*  padding-left: 24px;*/
/*}*/

#TableOfContents li a:hover {
  background: var(--hover-background-color);
}

/*#TableOfContents > ul {*/
/*  !*padding: 0 0 0 24px;*!*/
/*  border-left: var(--border-width) solid var(--border-color);*/
/*}*/



/*#TableOfContents li {*/
/*  !*padding-top: 6px;*!*/
/*  !*padding-bottom: 6px;*!*/
/*}*/

/*#TableOfContents li a {*/
/*  !*font: inherit;*!*/
/*  color: var(--text-color);*/
/*  text-decoration: none;*/
/*  justify-content: start;*/
/*  align-content: center;*/
/*  justify-items: start;*/
/*  align-items: center;*/
/*  fill: var(--list-item-fill);*/
/*  background: rgba(0, 0, 0, 0);*/
/*  cursor: pointer;*/
/*}*/


/* ============================================ */


/* 0. Сортировка контента */



.r-0 {
  right: 0;
}

.w-full {
  width: 100%;
}

.w-16 {
  width: 16px;
}

.w-32 {
  width: 32px;
}

.min-w-32 {
  min-width: 32px;
}

.h-16 {
  height: 16px;
}

.h-32 {
  height: 32px;
}

.p-8 {
  padding: 8px;
}

.pl-16 {
  padding-left: 16px;
}

.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.py-6 {
  padding-top: 6px;
  padding-bottom: 6px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.my-2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.ml-2 {
  margin-left: 2px;
}

.ml-6 {
  margin-left: 6px;
}

.ml-8 {
  margin-left: 8px;
}

.hidden {
  display: none;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.col-start-1 {
  grid-column-start: 1;
}

.rotate-90 {
  transform: rotate(90deg);
}

.bg-current {
  background: var(--current-background-color);
}


/* ============================================ */


/* ******************************************************** */

.btn:hover,
.drpitm:hover,
.list-item:hover,
.title:hover {
  background: var(--hover-background-color);
}




/*.header-layout {*/
/*  background-color: grey;*/
/*}*/

/*.header-general {*/
/*  background-color: green;*/
/*}*/

/*.header-actions {*/
/*  background-color: red;*/
/*}*/

/*.logo {*/
/*  background-color: blue;*/
/*}*/

/*.title {*/
/*  background-color: orange;*/
/*}*/


/*.list-item {*/
/*  background: yellow;*/
/*}*/

/*.icon {*/
/*  background: red;*/
/*}*/


/*.single-article {*/
/*  background: green;*/
/*}*/

/*.single-aside {*/
/*  background: red;*/
/*}*/


/*.single-article {*/
/*  background-color: lightgray;*/
/*}*/

/*.single-article section {*/
/*  background-color: lavender;*/
/*}*/

/*.single-aside {*/
/*  background-color: lightgray;*/
/*}*/

/*.single-aside nav {*/
/*  background-color: lavender;*/
/*}*/

/*.navigation {*/
/*  background-color: lavender;*/
/*}*/

