/*:root {*/
/*  !*--single-layout-max-width: 1128px;*!*/
/*  !*--single-aside-width: 240px;*!*/
/*}*/



/* ==================================================================================================== */


:root {
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --baseof-layout-transition-duration: .5s;
}

:root {
  --font-size: 16px;
  --border-width: .0625rem;
  --border-radius: .375rem;
  --body-font-size: .875rem;
  --body-line-height: 1.25rem;
  --baseof-header-height: 4rem;
  --baseof-footer-height: 5rem;
  --baseof-nav-width-const: 21rem;
  --baseof-nav-width: var(--baseof-nav-width-const);
  --single-layout-max-width: 70.5rem;
  --single-aside-width: 15rem;
}

:root {
  --color-scheme: light;
  --color-scheme-dark: dark;
  --background-color: #fdfdfd;
  --background-color-dark: #1b1b1b;
  --color: #222;
  --color-dark: #fff;
  --border-color: #d1d1d1;
  --border-color-dark: #848484;
  --fill: #696969;
  --fill-dark: #b2b2b2;
  --baseof-header-background-color: #f7f7f7;
  --baseof-header-background-color-dark: #313131;
  --baseof-footer-background-color: #f7f7f7;
  --baseof-footer-background-color-dark: #313131;
  --baseof-nav-background-color: rgba(0, 0, 0, 0);
  --baseof-nav-background-color-dark: rgba(0, 0, 0, 0);
  --baseof-main-background-color: rgba(0, 0, 0, 0);
  --baseof-main-background-color-dark: rgba(0, 0, 0, 0);
  --hover-background-color: #e9e9e9;
  --hover-background-color-dark: #343434;
  --current-background-color: #f2f2f2;
  --current-background-color-dark: #2f2f2f;
}

@media (prefers-color-scheme: dark) {
  :root:not(.light):not(.dark) {
    --color-scheme: var(--color-scheme-dark);
    --background-color: var(--background-color-dark);
    --color: var(--color-dark);
    --border-color: var(--border-color-dark);
    --fill: var(--fill-dark);
    --baseof-header-background-color: var(--baseof-header-background-color-dark);
    --baseof-footer-background-color: var(--baseof-footer-background-color-dark);
    --baseof-nav-background-color: var(--baseof-nav-background-color-dark);
    --baseof-main-background-color: var(--baseof-main-background-color-dark);
    --hover-background-color: var(--hover-background-color-dark);
    --current-background-color: var(--current-background-color-dark);
  }
}

.dark {
  --color-scheme: var(--color-scheme-dark);
  --background-color: var(--background-color-dark);
  --color: var(--color-dark);
  --border-color: var(--border-color-dark);
  --fill: var(--fill-dark);
  --baseof-header-background-color: var(--baseof-header-background-color-dark);
  --baseof-footer-background-color: var(--baseof-footer-background-color-dark);
  --baseof-nav-background-color: var(--baseof-nav-background-color-dark);
  --baseof-main-background-color: var(--baseof-main-background-color-dark);
  --hover-background-color: var(--hover-background-color-dark);
  --current-background-color: var(--current-background-color-dark);
}

:root {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color-scheme: var(--color-scheme);
  background-color: var(--background-color);
  color: var(--color);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
}

.baseof-layout {
  display: grid;
  grid-template: var(--baseof-header-height) 1fr / var(--baseof-nav-width) 1fr;
  min-height: 100vh;
  overflow-y: hidden;
  transition: grid-template var(--baseof-layout-transition-duration);
}

.baseof-header {
  grid-area: 1 / 1 / 2 / -1;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: inset 0 calc(var(--border-width) * -1) var(--border-color);
  background-color: var(--baseof-header-background-color);
}

.baseof-nav {
  grid-area: 2 / 1 / -1 / 2;
  position: sticky;
  top: var(--baseof-header-height);
  height: calc(100vh - var(--baseof-header-height));
  overflow-y: auto;
  scrollbar-gutter: stable;
  border-right: var(--border-width) solid var(--border-color);
  background-color: var(--baseof-nav-background-color);
}

.baseof-nav-hidden {
  --baseof-nav-width: 0;
}

.baseof-wrapper {
  grid-area: 2 / 2 / -1 / -1;
  display: grid;
  grid-template-rows: 1fr var(--baseof-footer-height);
  height: calc(100vh - var(--baseof-header-height));
  overflow-y: auto;
}

.baseof-main {
  grid-area: 1 / 1 / 2 / -1;
  background-color: var(--baseof-main-background-color);
}

.baseof-footer {
  grid-area: 2 / 1 / -1 / -1;
  border-top: var(--border-width) solid var(--border-color);
  background-color: var(--baseof-footer-background-color);
}

.header-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
}

.header-general {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: .5rem;
  justify-content: start;
}

.header-actions {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: .5rem;
  justify-content: end;
}

.nav-layout {
  position: absolute;
  left: 0;
  right: 0;
  display: grid;
  padding: 1rem;
  transition: left var(--baseof-layout-transition-duration);
}

.nav-layout-hidden {
  left: calc(var(--baseof-nav-width-const) * -1);
}

.single-layout {
  display: grid;
  grid-template-columns: 1fr var(--single-aside-width);
  grid-column-gap: 2.5rem;
  max-width: var(--single-layout-max-width);
  padding: 1rem;
  margin: 0 auto;
}

.single-article {
  padding: 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.single-aside {
  position: sticky;
  top: 1rem;
  max-height: calc(100vh - var(--baseof-header-height) - 2rem);
  overflow-y: auto;
}

.footer-layout {
  display: grid;
  padding: 1rem;
}



/* @MEDIA
  ..-general -> ..-main
  navigation -> nav-main
*/

/* ==================================================================================================== */
/*
  font: inherit;
*/
/* ==================================================================================================== */


.logo {
  display: grid;
  /*color: var(--text-color);*/
  color: var(--color);
  text-decoration: none;
  place-content: center;
}

.title {
  display: grid;
  border-radius: var(--border-radius);
  /*color: var(--text-color);*/
  color: var(--color);
  text-decoration: none;
  place-content: center;
}

.title strong {
  font-weight: 600;
}

.icon {
  width: 16px;
  height: 16px;
}

.btn {
  display: grid;
  grid-auto-flow: column;
  padding: 0;
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  margin: 0;
  font: inherit;
  /*color: var(--text-color);*/
  color: var(--color);
  place-content: center;
  place-items: center;
  fill: var(--fill);
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.drop-list {
  position: absolute;
  padding: 0;
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  margin: 0;
  list-style-type: none;
  /*background: var(--drop-list-background);*/
  background-color: var(--background-color);
  z-index: 1;
}

.list-item {
  display: grid;
  grid-auto-flow: column;
  padding: 0;
  border: none;
  border-radius: var(--border-radius);
  margin: 0;
  font: inherit;
  /*color: var(--text-color);*/
  color: var(--color);
  text-decoration: none;
  justify-content: start;
  align-content: center;
  justify-items: start;
  align-items: center;
  fill: var(--fill);
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.language-switcher {
  position: relative;
}







/* ============================================ */

h2, h3 {
  padding-top: 16px;
}

.btn:hover,
.drpitm:hover,
.list-item:hover,
.title:hover {
  background: var(--hover-background-color);
}

/* ============================================ */


#TableOfContents ul {
  /*padding: 0 0 0 16px;*/
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#TableOfContents > ul {
  border-left: var(--border-width) solid var(--border-color);
}

#TableOfContents a {
  display: grid;
  grid-auto-flow: column;

  padding: 8px;
  border-radius: var(--border-radius);
  margin: 0;

  color: var(--color);
  text-decoration: none;
  /*justify-content: start;*/
  /*align-content: center;*/
  /*justify-items: start;*/
  /*align-items: center;*/
  /*fill: var(--list-item-fill);*/
  /*background: rgba(0, 0, 0, 0);*/
  /*cursor: pointer;*/
}

#TableOfContents li a:hover {
  background: var(--hover-background-color);
}



/* ============================================ */

/* 0. Сортировка контента */



.r-0 {
  right: 0;
}

.w-full {
  width: 100%;
}

.w-16 {
  width: 16px;
}

.w-32 {
  width: 32px;
}

.min-w-32 {
  min-width: 32px;
}

.h-16 {
  height: 16px;
}

.h-32 {
  height: 32px;
}

.p-8 {
  padding: 8px;
}

.pl-16 {
  padding-left: 16px;
}

.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.py-6 {
  padding-top: 6px;
  padding-bottom: 6px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.my-2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.ml-2 {
  margin-left: 2px;
}

.ml-6 {
  margin-left: 6px;
}

.ml-8 {
  margin-left: 8px;
}

.hidden {
  display: none;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.col-start-1 {
  grid-column-start: 1;
}

.rotate-90 {
  transform: rotate(90deg);
}

.bg-current {
  background: var(--current-background-color);
}

/* ============================================ */

